Package: hserve
Version: 1.2.1
Architecture: aarch64
Maintainer: Alhkxsj <fan343908@@gmail.com>
Homepage: https://github.com/Alhkxsj/hserve
Depends: openssl, ca-certificates
Description: Simple and easy-to-use HTTPS file server for Termux
 A zero-configuration HTTPS file server with built-in certificate generation tool.
 Supports quick sharing of local files in Termux environment and running pure frontend web pages.
 Achieves HTTPS secure access through self-signed CA.
